@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a id="main-header-logo" href="">
        <img src="../Content/Images/spodigly-logo-main.png" class="center" />
    </a>
</div>
