<div class="text-center">
    <h1 class="text">Spod Igły</h1>
</div>
<div class="container">
    <div class="text-center">
        <nav>
            <a href="" class="btn btn-success">Rock</a>
            <a href="" class="btn btn-success">R&B</a>
            <a href="" class="btn btn-success">Electronic</a>
            <a href="" class="btn btn-success">Metal</a>
            <a href="" class="btn btn-success">Pop</a>
            <a href="" class="btn btn-success">Classical</a>
            <a href="" class="btn btn-success">Jazz</a>
            <a href="" class="btn btn-success">Reagge</a>
            <a href="" class="btn btn-success">Inne</a>
            <a href="" class="btn btn-success">Hip Hop</a>
            <a href="" class="btn btn-success">Alternative</a>
            <a href="" class="btn btn-success">Promocje</a>
        </nav>
    </div>
    <div class="container">
        <table class="table table-bordered table-striped text-center">
            <tr>
                <th>Zespół</th>
                <th>Tytuł</th>
                <th>Opis</th>
                <th>Kup</th>
            </tr>
        </table>
    </div>
</div>
<footer>
    <nav>
        <ul>
            <li><a href="">O nas</a></li>
            <li><a href="">Kontakt</a></li>
            <li><a href="">Wysyłka</a></li>
            <li><a href="">Regulamin</a></li>
        </ul>
    </nav>
    <div id="footer-copyright">
        Copyright &copy; 2021 Spod Igły
    </div>
</footer>

