@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a id="main-header-logo" href="">
        <img src="../Content/Images/spodigly-logo-main.png" class="center" />
    </a>
</div>
<nav class="navbar">
    <ul>
        <li>
            <a href="" style="background-image: url(../../Content/Images/spodigly-logo-main.png)">Rock</a>
        </li>
        <li>
            <a href="" style="background-image: url(../../Content/Images/spodigly-logo-main.png)">Rock</a>
        </li>
        <li>
            <a href="" style="background-image: url(../../Content/Images/spodigly-logo-main.png)">Rock</a>
        </li>
        <li>
            <a href="" style="background-image: url(../../Content/Images/spodigly-logo-main.png)">Rock</a>
        </li>
        <li>
            <a href="" style="background-image: url(../../Content/Images/spodigly-logo-main.png)">Rock</a>
        </li>
        <li>
            <a href="" style="background-image: url(../../Content/Images/spodigly-logo-main.png)">Rock</a>
        </li>
        <li>
            <a href="" style="background-image: url(../../Content/Images/spodigly-logo-main.png)">Rock</a>
        </li>
        <li>
            <a href="" style="background-image: url(../../Content/Images/spodigly-logo-main.png)">Rock</a>
        </li>
        <li>
            <a href="" style="background-image: url(../../Content/Images/spodigly-logo-main.png)">Rock</a>
        </li>
        <li>
            <a href="" style="background-image: url(../../Content/Images/spodigly-logo-main.png)">Rock</a>
        </li>
        <li>
            <a href="" style="background-image: url(../../Content/Images/spodigly-logo-main.png)">Rock</a>
        </li>
        <li>
            <a href="" style="background-image: url(../../Content/Images/spodigly-logo-main.png)">Rock</a>
        </li>
    </ul>
</nav>
